<!DOCTYPE style PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<style type="text/css">
td {
    padding: 3px;
    border-bottom: 1px solid gray;
}
</style>
</head>
<body>

            <table>
                {foreach from=$form_data item=data_item_sub}
                {foreach from=$data_item_sub item=data_item}
                
                    {if $data_item.type eq "primary_key" or $data_item.value eq "0" or $data_item.value eq "" or $data_item.name eq "currency_id" or $data_item.name eq "export_cian" or $data_item.name eq "user_id" or $data_item.name eq "price"  or $data_item.name eq "youtube" or $data_item.type eq "hidden" or $data_item.name eq "text" or $data_item.type eq "geodata" or $data_item.name eq "meta_keywords"  or $data_item.name eq "meta_description" or $data_item.name eq "meta_title"}
            
                    {elseif $data_item.type eq "select_by_query"}
                        {if $data_item.value_string!=''}
                            {include file="wg_viewport_selectbyquery.tpl" wg_item=$data_item}
                        {/if}
                    {elseif $data_item.type eq "select_box_structure"}
                        {if $data_item.value_string!=''}
                            {include file="wg_viewport_selectbyquery.tpl" wg_item=$data_item}
                        {/if}
                    {elseif $data_item.type eq "checkbox"}
                        {if $data_item.name ne 'hot' and $data_item.name ne 'active'}
                            {if $data_item.value eq 1}
                                {include file="wg_viewport_checkbox.tpl" wg_item=$data_item}
                            {/if}
                        {/if}            
                    {elseif $data_item.type eq "select_box"}
                        {if $data_item.value_string!=''}
                            {include file="wg_viewport_selectbox.tpl" wg_item=$data_item}
                        {/if}
                    {elseif $data_item.type eq "select_by_query_multiple"}
                    	{$data_item.value_string}
                    {elseif $data_item.type eq "date"}
                    	<tr><td><b>{$data_item.title}</b></td><td>{$data_item.value|date_format:"d-m-Y"}</td></tr>
                    {else}
                        {if $data_item.value!=''}
                            {if $data_item.name eq "text"}
                                {include file="wg_viewport_text.tpl" wg_item=$data_item}
                            {else}
                                {include file="wg_viewport_common.tpl" wg_item=$data_item}
                            {/if}
                        {/if}
                    {/if}
                
                {/foreach}
                {/foreach}
        </table>
</body>
</html>