{if $demomode eq 'yes'}
<p class="warning">{$apps_words.tpleditor.TRIAL_MESSAGE}</p>
<textarea id="tple_filetext" name="content" style="width: 100%; height: 800px;">{$filetext|htmlspecialchars}</textarea>
{else}
<form method="post" action="{$estate_folder}/admin/index.php">
<textarea id="tple_filetext" name="content" style="width: 100%; height: 800px;">{$filetext|htmlspecialchars}</textarea>
<input type="hidden" name="action" value="tpleditor" />
<input type="hidden" name="do" value="edit_done" />
<input type="hidden" name="file" value="{$file}" />
<input type="submit" name="submit" value="{$apps_words.tpleditor.SAVE}" class="btn btn-primary" />
</form>
{/if}

{literal}
<script>
$(document).ready(function() {
		var editor = CodeMirror.fromTextArea(document.getElementById("tple_filetext"),{
			mode: "htmlmixed",
            lineNumbers: true,
            viewportMargin: Infinity,
            lineWrapping: true,
            foldGutter: true,
            gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"],
            extraKeys: {
                "F11": function() {
                    editor.setOption("fullScreen", !editor.getOption("fullScreen"));
                },
                "Esc": function() {
                    if (editor.getOption("fullScreen")) editor.setOption("fullScreen", false);
                }
            }
		});
	});
</script>
{/literal}