.nolinedotted {
	padding-left: 17px;
}
.dragon {
	float: left;
	width: 27px;
	height: 27px;
	background-image: url("../img/dragon.png");
	background-repeat: no-repeat;
}
.ttl {
	float: left;
	font-size: 85%;
	color: white;
	margin-left: 5px;
	margin-top: 3px;
}

.ait_bc {margin-left: 15px;} .checkbox_collection {width: 210px;height: 200px;overflow-y: scroll;border: 1px solid silver;padding: 10px 5px;}