.gallery-3 {
	position: relative;
	border: 1px solid #2d7db8;
	background-color: #fff;
	padding: 9px 39px;
	margin-bottom: 30px;
	*zoom: 1;
}

.gallery-3 .container {
	position: relative;
	overflow: hidden;
	width: 100%;
}
.gallery-3 .container ul,
.gallery-3 .container li {
	list-style: none;
	line-height: 0;
	font-size: 0;
	padding: 0;
	margin: 0;
}
.gallery-3 .container ul {
	float: left;
	width: 99999px;
}
.gallery-3 .container ul li {
	float: left;
	padding-left: 10px;
}

.gallery-3 .brief {
	float: left;
	font-size: 12px;
	line-height: normal;
	position: relative;
}
.gallery-3 .brief .image {
	height: 150px;
	margin-bottom: 4px;
}
.gallery-3 .brief .image img {
	display: block;
	border: none;
	height: 100%;
}
.gallery-3 .brief .text {
	float: left;
}

.gallery-3 .prev {
	background: url(arrow-left.png) 50% 50% no-repeat;
	left: -1px;
}
.gallery-3 .next {
	background: url(arrow-right.png) 50% 50% no-repeat;
	right: -1px;
}
.gallery-3 .prev,
.gallery-3 .next {
	cursor: pointer;
	position: absolute;
	top: -1px;
	bottom: -1px;
	background-color: #2d7db8;
	width: 40px;
}

.tooltip {left: 80px; top: 120px; max-width: 600px;}
.how {left: 160px; top: 530px;}
.how-text {max-width: 460px;}