<?xml version="1.0" encoding="UTF-8"?>
<install>
    <name>config</name>
    <creationDate>March 2012</creationDate>
    <author>The Sitebill Development Team</author>
    <authorEmail>kondin@etown.ru</authorEmail>
    <authorUrl>http://www.sitebill.ru</authorUrl>
    <copyright>Copyright (C) 2012-2013 Sitebill Team. All rights reserved.</copyright>
    <license>http://www.sitebill.ru/licenses/sitebill.html</license>
    <backendMenu>true</backendMenu>
    <version status="beta">1.6.18</version>
    <administration>
        <!-- Administration Menu Section -->
        <menu>Менеджер настроек</menu>
        <category>Системные</category>
    </administration>
</install>
